### Recomendaciones de películas para usuarios

In [1]:
import pandas as pd

In [2]:
#Import V, U matrixes
U_matrix = pd.read_csv("MatrizU.csv")
V_matrix = pd.read_csv("MatrizV.csv")

In [3]:
U_matrix = U_matrix.drop(columns=['Unnamed: 0'])
V_matrix = V_matrix.drop(columns=['Unnamed: 0'])

Recordamos que las matrices U y V se obtuvieron al correr el método de *Descenso2Pasos* con los parámetros $k=128$, $\lambda = 0.01$.

In [4]:
U_matrix.shape

(671, 128)

In [5]:
V_matrix.shape

(128, 9066)

In [6]:
#Matrix tu numpy
U = U_matrix.to_numpy()
V = V_matrix.to_numpy()

In [7]:
#Import other DataFrames to recommend movies
df_ratings_raw = pd.read_csv("ratings_small.csv",low_memory=False)
df_metadata = pd.read_csv("movies_metadata.csv",low_memory=False)
df_links = pd.read_csv("links_small.csv",low_memory=False)
df_ratings = df_ratings_raw.pivot(index='userId', columns='movieId', values='rating')

In [8]:
#Merge df_links and df_metadata to get Movie Title
df_metadata['imdb_id'] = df_metadata['imdb_id'].dropna().str.replace('tt','').astype(str).astype(int)
df_merged_metadata = pd.merge(df_metadata, df_links, left_on='imdb_id', right_on = 'imdbId', how='inner')
df_merged_metadata.rename(columns = {'original_title':'Movie Title'}, inplace = True)

In [9]:
recomendaciones = pd.DataFrame(U@V, index=df_ratings.index, columns=df_ratings.columns)

### Hacer recomendaciones

In [26]:
# El top 5 de recomendaciones para un usuario, son las calificadas mas altas
usuario=8

top_movies = recomendaciones.loc[usuario].sort_values(ascending=False).head().index
df_merged_metadata.loc[df_merged_metadata['movieId'].isin(top_movies)][['Movie Title']]

                   Movie Title
48          The Usual Suspects
284   The Shawshank Redemption
472           Schindler's List
2059                The Matrix
2369                Fight Club

In [27]:
#Este es el top 5 de peliculas recomendadas tomando en cuenta solo las que aun no ha calificado 
usuario=8

ya_vistas = df_ratings_raw[df_ratings_raw.userId==usuario]['movieId']
top_unseen = recomendaciones.loc[usuario].drop(ya_vistas).sort_values(ascending=False).head().index
df_merged_metadata.loc[df_merged_metadata['movieId'].isin(top_unseen)][['Movie Title']]

                                            Movie Title
427                                       Jurassic Park
640                                       Trainspotting
1527                                 The Breakfast Club
4076                                         Spider-Man
4682  Pirates of the Caribbean: The Curse of the Bla...